.navbar-light .navbar-toggler {
    color: #f8ca31 !important;
}

.dark-theme {
    color: white !important;
    background-color: black;

    .navbar {
        color: white !important;
        background-color: black !important;

    }

    .navbar-light .navbar-toggler {

        color: white !important;
    }

    .list {
        background-color: white;
        color: black;
        font-weight: 500;
    }

    .box::after {
        background-color: white;

    }

    .box1::after {
        background-color: white;
    }

    .box2::after {
        background-color: white;
    }

    .img {
        background-color: white;
    }
}

/* <!-------- HEADER --------> */
header {
    background-color: white !important;
    color: black !important;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    width: 20%;
}

ul {
    width: 55%;
    display: flex;
    justify-content: space-around;
}

ul li {
    font-weight: 600;
    font-size: 18px;
}

/* .navbar .image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url("images/undraw_software_engineer_lvl5.svg");
    background-size: contain;
   background-color: black;
} */
.img img {
    width: 50px;
    height: 50px;
    border-radius: 20px;
}

.img {
    background-color: black;
    border-radius: 50%;
}

/* <!-------- ABOUT --------> */

#about {
    min-height: 87vh;
}

#about .img-port {
    height: auto;
    max-width: 100%;
    padding: 15% 0 7% 0;
}

button {
    background-color: gray;
    font-weight: 550;
    padding: 2% 6%;
    border-radius: 25px;
    border: none;
}

.down {
    background-color: gray;
    font-weight: 550;
    padding: 2% 6%;
    border-radius: 25px;
    border: none;
    text-decoration: none;
    color: #000;
}

.btn1 {
    background-color: rgb(211, 207, 207);
    color: black;
    margin-right: 2%;
}

.btn1:hover {
    color: goldenrod;
}

.btn1 i {
    font-size: 1.3rem;
    margin-left: 5px;
}

.btn2 {
    background-color: black;
    color: rgb(247, 243, 243);
    font-weight: 550;
}


/* <!-------- EDUCATION --------> */

#edu {
    min-height: 125vh;
}

.row-1 {
    padding: 3% 0;
}

.boxes {
    padding: 20% 0;
}

.box {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 500;
}

.box::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 7px;
    height: 110px;
    left: 45px;
    top: 90px;
}

.box1 {
    top: 100px;
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 500;
}

.box1::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 7px;
    height: 110px;
    left: 45px;
    top: 90px;
}

.box2 {
    top: 200px;
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 500;
}

.box2::after {
    content: "";
    position: absolute;
    background-color: black;
    width: 7px;
    height: 100px;
    left: 45px;
    top: 90px;
}

.box2-a {
    top: 200px;
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 500;
}

.text {
    padding: 16% 0 0 6%;
}

.sec-1 {
    margin-bottom: 12%;
}

.sec-2 {
    margin-bottom: 18%;
}

#edu h1 {
    margin-left: 11%;
}

@media screen and (max-width:480px) {
    .text {
        padding: 20% 0 0 6%;
    }

    .sec-1 {
        margin-bottom: 2%;
    }

    .sec-2 {
        margin-bottom: 9%;
    }
}




/* <!-------- PROJECTS --------> */


#projects {
    min-height: 70vh;
}


/* <!-------- CONTACT --------> */


#contact {
    min-height: 65vh;
}

address {
    background-color: rgb(56, 50, 50);
    color: white;
    padding: 2% 10% 0 10%;
    display: flex;
    width: 100%;
    letter-spacing: 1px;
    margin: 0;

}

.add-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    width: 100%;
}

.add-info img {
    width: 25px;
    height: 25px;
}

/* .contact-info h2{
    font-size: 35px;
    font-weight: 700;
 } */
.contact-info input {
    margin-bottom: 5%;
    min-width: 47%;
    font-size: 18px;
    padding: 1%;
    border-radius: 3px;
    border: 1px solid rgb(214, 210, 210);
}

.contact-info textarea {
    margin-bottom: 5%;
    font-size: 18px;
    padding: 1%;
    border-radius: 3px;
    border: 1px solid rgb(214, 210, 210);
    width: 100%;
}

/* <!-------- FOOTER --------> */
footer {
    min-height: 10vh;
    line-height: 10vh;
}